{% load htmx %}

<li {% hx-tag %}
    {% class "completed": item.completed, "editing": editing %}>
  <div class="view">
    <input class="toggle"
           type="checkbox"
           name="completed"
           {% if item.completed %}checked{% endif %}
           {% on 'change' 'completed' %} />
    <label {% on 'click' 'toggle_editing' %}>{{ item.text }}</label>
    <button {% on 'click' 'delete' %} class="destroy"></button>
  </div>
  <input class="edit"
         name="text"
         value="{{ item.text }}"
         {% on 'blur' 'save' %}
         {% on "keypress[key=='Enter']" "save" %} />
</li>
